body {
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin-bottom: 10vh;
}

header {
    background-color: #1F2937;
    padding: 0 15vh 15vh 15vh;
}

header h1 {
    color: #F9FaF8;
    font-weight: bolder;
    font-size: 48px;
    margin: 0;
}

header p {
    font-size: 18px;
}

header p {
    color: #E5E7EB;
}

.hero {
    display: flex;
    justify-content: space-between;
}

.left {
    width: 45%;
}

.signUp {
    background-color: #3882F6;
    border-radius: 8px;
    width: 90px;
    border-style: none;
    height: 30px;
    color: white;
    font-weight: bold;
}

.right {
    width: 45%;
    background-color: gray;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    
}

.links {
    color: #E5E7EB;
    font-size: 18px;
}

.info {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 6em;
    padding: 20px;
    background-color: white;
}

.info h1 {
    margin-bottom: 30px;
    margin: 30px 0;
    font-size: 36px
}

figure {
    width: 100px;
    height: 100px;
}

img {
    border: 2px solid #3882F6;
    border-radius: 10px;
}

figcaption {
    color: grey;
}

.items {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.item {
    height: 100px;
    width: 100px;
    border: 1px solid blue;
}

.quote {
    background-color: #E5E7EB;
    padding: 10vh 0;
}

.quote p {
    width: 60%;
    margin: auto;
    font-size: 30px;
    font-weight: lighter;
    color: #1F2937;
    font-style: italic;
    text-align: justify;
}

#quote_name {
    text-align: end;
    font-weight: bold;
    margin-top: 15px;
}

.cta {
    padding: 60px;
}

.box {
    background-color: #3882F6;
    width: 60%;
    text-align: center;
    margin: auto;
    display: flex;
    padding: 10px 70px;
    border-radius: 10px;
}

.cta_left {
    width: 60%;
    text-align: justify;
    color: white;
}

.cta_left h3 {
    margin-bottom: 0;
}

.cta_left p {
    margin-top: 0;
}

.cta_right {
    width: 30%;
    margin: auto;
    text-align: end;
}

.cta_right button {
    border: 1px solid white;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    gap: 16px;
}

a {
    text-decoration: none;
    color: white;
}